__pycache__/
.pytest_cache/
.gitignore
pytest_join.txt
pytest_join2.txt
test_gb.txt
test_groupby.txt
test_task2.txt
test_test.txt
test.txt
test2.txt
testgroupby.txt
testGroupby.txt
testHisto.txt
testJoin.txt
testJoin1.txt
testOrderby.txt
testOrderby2.txt
testProject.txt
testScan_movies.txt
testScan.txt
testSelect.txt
testTask3.txt
testTopK.txt